<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.java.mapper.memberMapper">

	<resultMap type="MemberVO" id="MemberVOResult">
		<id property="id" column="id"/>
		<result property="pw" column="pw"></result>
		<result property="name" column="name"></result>
	</resultMap>

 	<select id="selectMember" resultMap="MemberVOResult">
 		SELECT ID, PW, NAME FROM MEMBER
 	</select>   
 	
	<insert id="addMember" parameterType="memberVO" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO MEMBER(pw, name) VALUES (#{pw}, #{name})
 	</insert>
</mapper>